/**CUSTOMIZATION*/
/*page main title*/
#main_title h1{
    font-size: 70px;
}

div#main_title.profile_title{
    margin: 0 auto;
    width: 90%;
    max-width: 990px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: var(--medium-pad);
    text-align: left;
}

.profile_title img{
    border-radius: 50%;
    min-width: 100px;
    width: 100%;
}

/**Button panel contents*/
#buttonPanel .row{
    margin: 0 auto;
    width: 90%;
    max-width: 990px;
}

/**reach out menu*/
#reachOut{
    width: 200px;
}

#reachOutMenu{
    /**card setting*/
    /**box setting*/
    margin: 0 auto;
    width: 90%;
    min-width: 100px;
    max-width: 990px;
    /**color and shape*/
    border-radius: 30px;
    background-color: var(--tertiaryContainer);
    border-color: var(--tertiaryContainer);
    border-width: 3px;
    border-style: solid;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    /*default state and animation*/
    height: 0;
    padding: 0 var(--medium-pad);
    border-width: 0;
    overflow: hidden;
    transition: height 0.5s, padding 0.5s, margin 0.5s, border-width 0.5s;
    /*grid formating*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
}

div.reachOutCard{
    /*box*/
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: var(--medium-pad);
    height: 110px;
    /*color*/
    background-color: var(--onTertiaryContainer);
    color: var(--tertiaryContainer);
    /*animation*/
    transition: opacity 0.5s, box-shadow 0.15s;
}

div.reachOutCard:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

div.reachOutCard:active{
    opacity: 0.5;
}


div.reachOutCard h1{
    font-size: 60px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 3px;
    border-color: currentColor;
    border-style: solid;
}

div.reachOutCard p{
    margin-top: var(--small-pad);
    text-align: left;
}

/**languages grid*/
.languages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--small-pad);
    row-gap: var(--small-pad);
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.languages div.island{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*the about me section next to languages*/
.aboutHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
}

div.island.about{
    display: flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
}

/*list of languages and coding environments etc.*/
div.skills{
    justify-content: flex-start;
}

/**UNIVERSITY DESCRIPTION*/
div.uniDesc{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--medium-pad);
    text-align: left;
}

/*the picture and text over it*/
div.TitlePic{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

div.TitlePic img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

div.ImgTitle{
    display: flex;
    flex-direction: column;
    /**position*/
    position: absolute;
    inset: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /**text*/
    background: rgba(0, 0, 0, 0.6); 
    color: var(--onSurface);
    text-align: left;
    /*border radius*/
    border-radius: 20px;
}

div.ImgTitle h1{
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
   font-size: 80px;
}

div.ImgTitle h3{
    font-size: 20px;
    margin-bottom: var(--medium-pad);
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
    margin-top: auto;
}

/*text next to the picture*/
div.uniDesc div h2{
    font-size: 40px;
}

div.uniDesc div p{
    font-size: 18px;
    font-weight: bold;
}

/**COURSE CARD*/
div#courseWork{
    margin-top: var(--medium-pad);
}

.courseCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
    grid-template-rows: 1fr 1fr;

}

/**actual course card settings*/
div.courseCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border properties*/
    border-radius: 20px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
    /*box properties*/
    margin: var(--small-pad) auto;
    padding: var(--small-pad);
    max-width: 200px;
    text-align: left;
}

div.courseCard div{
    display: flex;
    margin-top: auto;
    flex-direction: row;
}

div.courseCard h2{
    text-align: left;
    margin: 0;
}

div.courseCard div.blob{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--onSurface);
    color: var(--surface);
    align-self: flex-end;
}

div.courseCard h2{
    font-size: 20px;
}

/**WORK CARD SECTION*/
#workExperience div.row{
    margin-top: var(--small-pad);
    justify-content: flex-start;
}
/*make sure there is padding between spectrum and other cards*/
#spectrum{
    margin: 0 var(--medium-pad)
}

/*the actual work card setting*/
div.workCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border properties*/
    border-radius: 20px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
    /*box properties*/
    padding: var(--small-pad);
    max-width: 200px;
    text-align: left;
    /**color*/
    background-color: var(--onSurface);
    color: var(--surface);
}

div.workCard h2{
    text-align: left;
    font-size: 20px;
    margin: 0;
}

div.workCard ul{
    margin: var(--small-pad) 0;
}

div.workCard div{
    display: flex;
    margin-top: auto;
    flex-direction: row;
}

div.workCard div.blob{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--surfaceDim);
    color: var(--onSurface);
    align-self: flex-end;
}

div.schoolDesc{
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

div.schoolDesc div img{
    max-height: 500px;
}

div.schoolDesc div.desc{
    padding-right: var(--small-pad);
}

div.schoolDesc div p{
    font-size: 18px;
    font-weight: bold;
}

div.schoolDesc div.ImgTitle h1{
    font-size: 60px;
}

div.schoolDesc div div.row{
    justify-content: flex-start;
}