:root{
    /**--source: #441E35;
    --surface: #fff8f8;
    --onSurface: #211a1d;
    --surfaceDim: #e5d6db;
    --primaryContainer: #ffd8ea;
    --onPrimaryContainer:#6b3455;
    --primary: #874b6e;
    --onPrimary: #ffffff;
    --tertiaryContainer: #ffdbca;
    --onTertiaryContainer: #653d27;
    */

    /**website colors*/
    --source: #742CFF;
    --surface: #141218;
    --onSurface: #e6e0e9;
    --surfaceDim: #3b383e;
    --primaryContainer: #4d3d75;
    --onPrimaryContainer:#e9ddff;
    --primary: #cfbdfe;
    --onPrimary: #36275d;
    --tertiaryContainer: #633b48;
    --onTertiaryContainer: #ffd9e3;
    --invSurvace:#2c2a31;

    /*website padding values**/
    --small-pad: 10px;
    --medium-pad: 20px;
    --large-pad: 30px;
}

*{
    font-family: Arial;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul{
    list-style-position: inside;
}

body{
    color: var(--onSurface);
    background-color: var(--surface);
}

/**navigation bar*/
div.navbar {
    position: sticky;
    top:5px;
    margin: var(--small-pad);
    padding: 7px;
    border-radius: 20px;
    z-index: 3;
    /**colors*/
    color: var(--onTertiaryContainer);
    background-color: var(--tertiaryContainer);
    /**flex box settings*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /**animation*/
    transition: top 0.3s;
}

div.navbar a.text-button{
    color: var(--onTertiaryContainer);
}

div.title a.text-button{
    color: var(--onSurface);
}

/**BLOBS*/
div.blob{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--onSurface);
    color: var(--surface);
}

div.blob-outlined{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    color: var(--onSurface);
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;

}

/**content box which isnt card*/
div.contentBox{
    /**box setting*/
    margin: var(--small-pad) auto;
    width: 90%;
    min-width: 100px;
    max-width: 1000px;
}

/**CARD*/
div.card{
    /**box setting*/
    margin: var(--small-pad) auto;
    padding: var(--medium-pad);
    width: 90%;
    min-width: 100px;
    max-width: 1000px;
    /**flex box settings*/
    display: flex;
    flex-direction: column;
    align-content: center;
    /**color and shape*/
    border-radius: 30px;
    background-color: var(--surfaceDim);
    color: var(--onSurface);
    border-color: var(--surfaceDim);
    border-width: 5px;
    border-style: solid;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}

/**CARD*/
div.outlined-card{
    /**box setting*/
    margin: var(--small-pad) auto;
    padding: var(--medium-pad);
    width: 90%;
    min-width: 100px;
    max-width: 990px;
    /**flex box settings*/
    display: flex;
    flex-direction: column;
    align-content: center;
    /**color and shape*/
    border-radius: 30px;
    background-color: var(--surface);
    color: var(--onSurface);
    border-color: var(--onSurface);
    border-width: 5px;
    border-style: solid;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}

div.card h1{
    margin: 0 auto;
    font-weight: bold;
    max-width: 600px;
}

div.card h2{
    margin-top:10px;
    margin: 0 auto;
    font-weight: bold;
    max-width: 600px;
}

div.card p{
    margin: 0 auto;
    padding: 10px 0;
    max-width: 600px;
}

div.card img{
    max-width: 600px;
    border-radius: 20px;
}

div.card ul {
    text-align: left;
    margin: 0 auto;
    display: inline-block; 
}

/**in card island*/
div.card div.island{
    padding: var(--medium-pad);
    background-color: var(--invSurvace);
    color: var(--onSurface);
    border-radius: 20px;
}

/**row box that contains body text*/
div.row {
    /**flex box settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**title cotntains the main info about the page*/
.title {
    padding: 20px;
    text-align: center;
    /**flex box settings*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    font-size: 30px;
}

.title h2{
    line-height: 30px;
}

.title p{
    margin: 10px;
    font-size: 25px;
}
/**
BUTTONS
This section contains 3 main button types used on this website
*/

/**
* this is an outlined button class and its states
* best used for options that should not distract the user
*/
.outlined-button {
    padding: 10px;
    /**border related properties*/
    border-radius: 30px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    /**font and background*/
    background-color: var(--onPrimary);
    cursor: pointer;
    font-weight: bold;
    color: var(--primary);
    /**transition property*/
    text-decoration: none;
    transition: background-color 0.5s, 
    color 0.5s, 
    border-color 0.5s;
}

.outlined-button:hover{
    border-color: var(--primaryContainer);
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
}

.outlined-button:active{
    opacity: 0.7;
}

/**
* this is a filled button class best used for important 
* and attention grabbing buttons
*/
.filled-button {
    padding: 10px;
    /**border related properties*/
    border-radius: 30px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    /*background color*/
    background-color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    color: var(--onPrimary);
    transition: opacity 0.5s, box-shadow 0.15s;
    text-decoration: none;
}

.filled-button:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.filled-button:active{
    opacity: 0.5;
}

/**this is a text button like the ones in the navbar*/
.text-button {
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.5s, text-shadow 0.5s;
}

.text-button:hover{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.text-button:active{
    opacity: 0.5;
}

/**CUSTOMIZATION*/
/*page main title*/
#main_title h1{
    font-size: 70px;
}

div#main_title.profile_title{
    margin: 0 auto;
    width: 90%;
    max-width: 990px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: var(--medium-pad);
    text-align: left;
}

.profile_title img{
    border-radius: 50%;
    min-width: 100px;
    width: 100%;
}

/**Button panel contents*/
#buttonPanel .row{
    margin: 0 auto;
    width: 90%;
    max-width: 990px;
}

/**reach out menu*/
#reachOut{
    width: 200px;
}

#reachOutMenu{
    height: 0;
    transition: height 0.5s;
}

/**languages grid*/
.languages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--small-pad);
    row-gap: var(--small-pad);
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.languages div.island{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*the about me section next to languages*/
.aboutHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
}

div.island.about{
    display: flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
}

/*list of languages and coding environments etc.*/
div.skills{
    justify-content: flex-start;
}

/**UNIVERSITY DESCRIPTION*/
div.uniDesc{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--medium-pad);
    text-align: left;
}

/*the picture and text over it*/
div.TitlePic{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

div.TitlePic img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

div.ImgTitle{
    display: flex;
    flex-direction: column;
    /**position*/
    position: absolute;
    inset: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /**text*/
    background: rgba(0, 0, 0, 0.6); 
    color: var(--onSurface);
    text-align: left;
    /*border radius*/
    border-radius: 20px;
}

div.ImgTitle h1{
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
   font-size: 80px;
}

div.ImgTitle h3{
    font-size: 20px;
    margin-bottom: var(--medium-pad);
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
    margin-top: auto;
}

/*text next to the picture*/
div.uniDesc div h2{
    font-size: 40px;
}

div.uniDesc div p{
    font-size: 18px;
    font-weight: bold;
}

/**COURSE CARD*/
div#courseWork{
    margin-top: var(--medium-pad);
}

.courseCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
    grid-template-rows: 1fr 1fr;

}

/**actual course card settings*/
div.courseCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border properties*/
    border-radius: 20px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
    /*box properties*/
    margin: var(--small-pad) auto;
    padding: var(--small-pad);
    max-width: 200px;
    text-align: left;
}

div.courseCard div{
    display: flex;
    margin-top: auto;
    flex-direction: row;
}

div.courseCard h2{
    text-align: left;
    margin: 0;
}

div.courseCard div.blob{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--onSurface);
    color: var(--surface);
    align-self: flex-end;
}

div.courseCard h2{
    font-size: 20px;
}

/**WORK CARD SECTION*/
#workExperience div.row{
    margin-top: var(--small-pad);
    justify-content: flex-start;
}
/*make sure there is padding between spectrum and other cards*/
#spectrum{
    margin: 0 var(--medium-pad)
}

/*the actual work card setting*/
div.workCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border properties*/
    border-radius: 20px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
    /*box properties*/
    padding: var(--small-pad);
    max-width: 200px;
    text-align: left;
    /**color*/
    background-color: var(--onSurface);
    color: var(--surface);
}

div.workCard h2{
    text-align: left;
    margin: 0;
}

div.workCard ul{
    margin: var(--small-pad) 0;
}

div.workCard div{
    display: flex;
    margin-top: auto;
    flex-direction: row;
}

div.workCard div.blob{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--surfaceDim);
    color: var(--onSurface);
    align-self: flex-end;
}

div.schoolDesc{
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

div.schoolDesc div img{
    max-height: 500px;
}

div.schoolDesc div.desc{
    padding-right: var(--small-pad);
}

div.schoolDesc div h2{
    font-size: 25px;
}

div.schoolDesc div p{
    font-size: 18px;
    font-weight: bold;
}

div.schoolDesc div.ImgTitle h1{
    font-size: 60px;
}

div.schoolDesc div div.row{
    justify-content: flex-start;
}

