/**
===========================================
ROOT
===========================================
*/
:root{
    /**website colors*/
    --source: #742CFF;
    --surface: #141218;
    --onSurface: #e6e0e9;
    --surfaceDim: #3b383e;
    --primaryContainer: #4d3d75;
    --onPrimaryContainer:#e9ddff;
    --primary: #cfbdfe;
    --onPrimary: #36275d;
    --tertiaryContainer: #633b48;
    --onTertiaryContainer: #ffd9e3;
    --invSurvace:#2c2a31;

    /*website padding values**/
    --tiny-pad: 5px;
    --small-pad: 10px;
    --medium-pad: 20px;
    --large-pad: 30px;
}

/*set the default state*/
*{
    font-family: Arial;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*list dot should be with the text no lists used*/
ul{
    list-style-position: inside;
}

/*ground color*/
body{
    color: var(--onSurface);
    background-color: var(--surface);
}

/**
===========================================
NAVIGATION BAR
===========================================
*/
div.navbar {
    position: sticky;
    top:5px;
    margin: var(--small-pad);
    padding: 7px;
    border-radius: 20px;
    z-index: 3;
    /**colors*/
    color: var(--onTertiaryContainer);
    background-color: var(--tertiaryContainer);
    /**flex box settings*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /**animation*/
    transition: top 0.3s;
}

div.navbar a.text-button{
    color: var(--onTertiaryContainer);
}

div.title a.text-button{
    color: var(--onSurface);
}

/**
===========================================
BLOBS
===========================================
*/
.blob{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--onSurface);
    color: var(--surface);
}

.blob-outlined{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    color: var(--onSurface);
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;

}

/**
===========================================
CONTENT BOX - allows for content that isn't in card to have the same width
===========================================
*/
.contentBox{
    /**box setting*/
    margin: var(--small-pad) auto;
    width: 90%;
    min-width: 100px;
    max-width: 1000px;
}

/**
===========================================
CARD BASE
===========================================
*/
.card-base {
    /*box setting*/
    margin: var(--small-pad) auto;
    padding: var(--medium-pad);
    width: 90%;
    max-width: 1000px;
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    /*content*/
    text-align: left;
}

/*this is a specific card that is filled with color*/
.card{
    /*cotnet color*/
    background-color: var(--surfaceDim);
    color: var(--onSurface);
    /*border*/
    border-color: var(--surfaceDim);
    border-width: 3px;
    border-style: solid;
}

.card h2{
    font-size: 40px;
}

.card h3{
    font-size: 30px;
    margin: var(--tiny-pad) 0;
}

.card h4{
    margin-bottom: var(--small-pad);
}

.card p{
    margin: 0 auto;
    padding: 10px 0;
    max-width: 600px;
}

.card img{
    max-width: 600px;
    border-radius: 20px;
}

/*in case lists are used again*/
.card ul {
    margin: 0 auto;
    display: inline-block; 
}

/**in card island*/
div.island{
    padding: var(--medium-pad);
    background-color: var(--invSurvace);
    color: var(--onSurface);
    border-radius: 20px;
}

/**
===========================================
ROW
===========================================
*/
div.row {
    /**flex box settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**
===========================================
TITLE
===========================================
*/
/**title cotntains the main info about the page*/
.title {
    padding: 20px;
    text-align: center;
    /**flex box settings*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    font-size: 30px;
}

.title h2{
    line-height: 30px;
}

.title p{
    margin: 10px;
    font-size: 25px;
}

/**
===========================================
BUTTONS
This section contains 3 main button types used on this website
===========================================
*/

/**
* this is an outlined button class and its states
* best used for options that should not distract the user
*/
.outlined-button {
    padding: 10px;
    /**border related properties*/
    border-radius: 30px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    /**font and background*/
    background-color: var(--onPrimary);
    cursor: pointer;
    font-weight: bold;
    color: var(--primary);
    /**transition property*/
    text-decoration: none;
    transition: background-color 0.5s, 
    color 0.5s, 
    border-color 0.5s;
}

.outlined-button:hover{
    border-color: var(--primaryContainer);
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
}

.outlined-button:active{
    opacity: 0.7;
}

/**
* this is a filled button class best used for important 
* and attention grabbing buttons
*/
.filled-button {
    padding: 10px;
    /**border related properties*/
    border-radius: 30px;
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    /*background color*/
    background-color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    color: var(--onPrimary);
    transition: opacity 0.5s, box-shadow 0.15s;
    text-decoration: none;
}

.filled-button:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.filled-button:active{
    opacity: 0.5;
}

/**this is a text button like the ones in the navbar*/
.text-button {
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.5s, text-shadow 0.5s;
}

.text-button:hover{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.text-button:active{
    opacity: 0.5;
}

