/**
-------------------------------------------
PROJECT.CSS CUSTOMIZATION
This file formats the projects page which
contains all my projects
-------------------------------------------
*/

/**
===========================================
GENERAL
===========================================
*/

/**the title part*/
.projectTitle h1{
    font-size: 60px;
    margin-bottom: var(--large-pad);
}

/**we want to center the items vertically*/
.projectTitle div.row{
    align-items: center;
}

/**blob row of features*/
div.row.features{
    justify-content: flex-start;
}

/*mid title section*/
.projectMidTitle h2{
    margin: var(--large-pad) 0;
}

/**
===========================================
GENAU
===========================================
*/

/*TEXT BLOCK the text description*/
.genauDescText{
    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--medium-pad);
    /*margins*/
    margin-top: var(--medium-pad);
}

.genauDescText div.desc{
    padding: var(--medium-pad);
    /*border*/
    border-radius: 20px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
}

/**
-------------------------------------------
IMAGE GALLERY OF APP
-------------------------------------------
*/
.geanuGallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
    align-items: start;
}

.geanuGallery img{
    width: 100%;
    height: auto;
}

.genauSubGallery{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: var(--medium-pad);
    height: 100%;
}

.genauSubGallery div.island{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 0;
    height: 100%;
}

/* Ensure images inside islands don't affect height */
.genauSubGallery div.island img {
    height: 100%;
    object-fit: contain; /*Prevents distortion*/
}

/**
-------------------------------------------
ANDROID ICON CARD
-------------------------------------------
*/
.androidIcon.island{
    /*color*/
    background-color: var(--onTertiaryContainer);
    color: var(--tertiaryContainer);
}

.androidIcon.island div{
    margin-top: auto;
}

.androidIcon.island div p{
    padding: 0;
}

/**
-------------------------------------------
APP NAME CARD
-------------------------------------------
*/
.app-name.island{
    /*colors*/
    background-color: var(--onSurface);
    color: var(--surface);
}

.app-name.island div{
    margin-top: auto;
}

.app-name.island div p{
    padding: 0;
}

/**
-------------------------------------------
CLOSE UP CARD
-------------------------------------------
*/
.app-crop.island{
    position: relative;
    overflow: hidden;
    padding: 0;
}

div.app-crop.island img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cropTitle{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); 
    /*box*/
    border-radius: 20px;
    padding: var(--medium-pad);
    /*flex settings*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.cropTitle p{
    margin: 0;
    padding: 0;
}

/**
-------------------------------------------
BUTTON ROW
-------------------------------------------
*/
.buttonRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--medium-pad);
    height: auto;
}

/*github page button and download button*/
#gitGenau, #downloadGenau{
    padding: var(--medium-pad);
    height: 100px;
}

/**
===========================================
CV PAGE
===========================================
*/
.projectDesc{
    margin: var(--large-pad) 0;
    text-align: left;
}

div.projectDesc h1, div.projectDesc p{
    margin: 0;
}

/**
===========================================
WEBSITE
===========================================
*/
.website_pic{
    height: 400px;
}