
body {
  background-image: url('../pictures/defaults/glitch.gif');
  background-repeat: repeat;
}

.error-message{
  position: fixed;
  inset: 0;
  padding: var(--large-pad);
  padding-top: 50px;
  background-color: var(--shadowColor);
}