/**
-------------------------------------------
INDEX.HRML CUSTOMIZATION
This file covers the properties of content
in the main file of the website.
-------------------------------------------
*/

/**
===========================================
MAIN TITLE
===========================================
*/

.profile_title{
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: var(--medium-pad);
    text-align: left;
}

.profile_title img{
    border-radius: 50%;
    min-width: 100px;
    width: 100%;
}

@media(max-width: 700px){
    .profile_title{
        grid-template-columns: 1fr;
    }

    .profile_title  img{
        width: 50%;
    }

    .profile-pic{
        display: flex;
        justify-content: center;
    }

    .profile-text h1{
        font-size: 50px;
    }
}

/**
===========================================
REACH OUT MENU
===========================================
*/
/**reach out button*/
.reachOut{
    width: 200px;
}

/**pop up venue*/
#reachOutMenu{
    /*default state*/
    height: 0;
    padding: 0 var(--medium-pad);
    border-width: 0;
    overflow: hidden;
    /*transition: height 0.5s ease-out, padding 0.5s, margin 0.5s, border-width 0.5s;*/
    transition:  all 0.5s;
    /*grid formating*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--medium-pad);
}

/*cards with links to reach out to me*/
.reachOutCard{
    /*box*/
    padding: var(--medium-pad);
    display: flex;
    flex-direction: column;
    height: 100px;
    /*color*/
    background-color: var(--onTertiaryContainer);
    border-color: var(--onTertiaryContainer);
    color: var(--tertiaryContainer);
}

.reachOutCard h1{
    font-size: 60px;
}

.reachOutCard p{
    margin-top: auto;
    /*border setting*/
    padding-top: var(--tiny-pad);
    border-width: 0;
    border-top-width: 3px;
    border-color: currentColor;
    border-style: solid;
}

@media(max-width: 500px){
    #reachOutMenu{
        grid-template-columns: 1fr 1fr;

    }

    .button-row{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: var(--medium-pad);
    }

    .button-row a button{
        width: 100%;
    }

    .reachOut{
        order: 4;
    }
}

/**
===========================================
ABOUT ME HEADER CARD
===========================================
*/

/**languages grid*/
.languages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--small-pad);
    row-gap: var(--small-pad);
    grid-template-rows: 1fr 1fr;
}

.languages div.island{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*the about me section next to languages*/
.aboutHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
    row-gap: var(--medium-pad);
}

@media(max-width: 700px){
    .aboutHeader{
        grid-template-columns: 1fr;
    }
}

/*list of languages and coding environments etc.*/
.skills{
    justify-content: flex-start;
}

/**
===========================================
UNIVERSITY DESCRIPTION
===========================================
*/

/**
...........................................
SECTION HEADER
...........................................
*/

/*gris settings*/
.uniDesc{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--medium-pad);
    margin-bottom: var(--large-pad);
}

.uni-text-desc p{
    margin-left: 0;
}

@media(max-width: 1000px){
    .uniDesc{
        grid-template-columns: 1fr;
    }
}

/**
TITLE PICTURE CLASS:
the picture with the text over it
*/

/*pucture styling*/
.titlePic{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.titlePic img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*title styling*/
.imgTitle{
    /*makes it fill all space*/
    display: flex;
    flex-direction: column;
    /**position*/
    position: absolute;
    inset: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /**text*/
    background: rgba(0, 0, 0, 0.6); 
    color: var(--onSurface);
    /*border radius*/
    border-radius: 20px;
}

.imgTitle h1{
    /*makes sure there is enough space*/
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
    font-size: 60px;
}

.imgTitle h3{
    font-size: 20px;
    /*makes sure it is spaced out*/
    margin-bottom: var(--medium-pad);
    margin-left: var(--medium-pad);
    margin-right: var(--medium-pad);
    margin-top: auto;
}

/**
...........................................
COURSE CARD/WORK CARD
they share a lot of similarities
...........................................
*/
.workCard, .courseCard{
    /*flex box settings*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border properties*/
    border-radius: 30px;
    border-color: var(--onSurface);
    border-width: 2px;
    border-style: solid;
    /*box properties*/
    padding: var(--small-pad);
}

.courseCard div, .workCard div{
    margin-top: auto;
}

.workCard h2, .courseCard h2{
    font-size: 20px;
}

.workCard div.blob, .courseCard div.blob{
    padding: var(--tiny-pad);
}
/**
...........................................
COURSE CARD
...........................................
*/

/*grid settings*/
.courseCards{
    margin: var(--large-pad) 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--medium-pad);
    row-gap: var(--medium-pad);
    grid-template-rows: 1fr 1fr;
}

@media(max-width: 1000px){
    .courseCards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 700px){
    .courseCards{
        grid-template-columns: 1fr;
    }
}



/**actual course card settings*/
.courseCard div.blob{
    background-color: var(--onSurface);
    color: var(--surface);
}

/**
...........................................
WORK CARD SECTION
...........................................
*/

/*header should not stick to row*/
.workExperience h3{
    margin-bottom: var(--large-pad);
}

/*cards need to be at the start*/
.workExperience div.row{
    gap: var(--medium-pad);
    justify-content: flex-start;
}

/*the actual work card setting*/
.workCard{
    /**color*/
    background-color: var(--onSurface);
    color: var(--surface);
    /*width*/
    max-width: 250px;
}

.workCard ul{
    margin: var(--small-pad) 0;
}

.workCard div.blob{
    background-color: var(--surfaceDim);
    color: var(--onSurface);
}

/**
===========================================
SCHOOL DESCRIPTION
===========================================
*/
.schoolDesc{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: var(--medium-pad);
}

@media(max-width: 1000px){
    .schoolDesc{
        grid-template-columns: 1fr;
    }

    .school-pic{
        order: -1;
    }
}

.sch-desc{
    display: flex;
    flex-direction: column;
}

.sch-desc p{
    margin-left: 0;
}

.schoolDesc div img{
    max-height: 500px;
}

.schoolDesc div div.row{
    margin-top: auto;
    justify-content: flex-start;
}