/**
-------------------------------------------
MAIN.CSS
Essential elements and data is stored  in 
this file as it is included in every
html doc
-------------------------------------------
*/

/**
===========================================
ROOT
===========================================
*/
:root{
    /**website colors*/
    --source: #742CFF;
    --surface: #141218;
    --onSurface: #e6e0e9;
    --surfaceDim: #3b383e;
    --primaryContainer: #4d3d75;
    --onPrimaryContainer:#e9ddff;
    --primary: #cfbdfe;
    --onPrimary: #36275d;
    --tertiaryContainer: #633b48;
    --onTertiaryContainer: #ffd9e3;
    --tertiary:#efb8c8;
    --onTertiary: #4a2532;
    --tertiaryContainerInv: #ffd9e3;
    --onTertiaryContainerInv: #633b48;
    --secondary: #cbc2db;
    --onSecondary: #332d41;
    --invSurvace:#2c2a31;

    --active: #92d892;

    /*website padding values**/
    --tiny-pad: 5px;
    --small-pad: 10px;
    --medium-pad: 20px;
    --large-pad: 30px;
    --giant-pad: 150px;

    /*radius sizes*/
    --medium-radius: 20px;
    --large-radius: 30px;

    /*shadow*/
    --shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}

/*set the default state*/
*{
    font-family: Helvetica;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*list dot should be with the text*/
ul{
    list-style-position: inside;
}

/*ground color*/
body{
    margin-top: 40px;
    color: var(--onSurface);
    background-color: var(--surface);
}

/**
===========================================
NAVIGATION BAR
===========================================
*/
div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*top:5px;
    margin: var(--small-pad);*/
    padding: 7px;
    /*border-radius: 20px;*/
    z-index: 3;
    /**colors*/
    color: var(--onSurface);
    background-color: var(--surface);
    border-bottom: 0px solid var(--onSurface);
    /**flex box settings*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /**animation*/
    transition: top 0.3s, transform 0.3s ease-in-out;
}

div.navbar a.text-button{
    color: var(--onSurface);
}

div.title a.text-button{
    color: var(--onSurface);
}

.navbar:hover {
    transform: translateY(-4px);
}

/**
===========================================
BLOBS
===========================================
*/
.blob , .blob-outlined{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50vh;
}

.blob{
    background-color: var(--onSurface);
    color: var(--surface);
}

.blob-outlined{
    color: var(--onSurface);
    border-color: var(--onSurface);
    background-color: var(--surface);
    border-width: 2px;
    border-style: solid;
}

/**
===========================================
CONTENT BOX - allows for content that isn't in card to have the same width
===========================================
*/
.content-box{
    /**box setting*/
    margin: var(--small-pad) auto;
    width: 90%;
    min-width: 100px;
    max-width: 1000px;
}

/**
===========================================
CARD BASE
===========================================
*/
/*general card base*/
.card-base {
    /*box setting*/
    margin: var(--small-pad) auto;
    padding: var(--medium-pad);
    width: 90%;
    max-width: 1000px;
    min-width: none;
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    /*content*/
    text-align: left;
}

@media(max-width: 700px){
    .card-base{
        width: auto;
    }
}

/*this is a specific card that is filled with color*/
.card, .card-tertiary{
    border-width: 3px;
    border-style: solid;
}

.card{
    /*cotnet color*/
    background-color: var(--surfaceDim);
    color: var(--onSurface);
    /*border*/
    border-color: var(--surfaceDim);
}

.card-tertiary{
    /*cotnet color*/
    background-color: var(--tertiaryContainer);
    color: var(--onTertiaryContainer);
    /*border*/
    border-color: var(--tertiaryContainer);
}

.card h2{
    font-size: 40px;
}

.card h3{
    font-size: 30px;
    margin: var(--tiny-pad) 0;
}

.card h4{
    margin-bottom: var(--small-pad);
}

.card p{
    margin: 0 auto;
    padding: 10px 0;
}

.card img{
    max-width: 600px;
    border-radius: 20px;
}

/*in case lists are used again!!*/
.card ul {
    margin: 0 auto;
    display: inline-block; 
}

/**in card island*/
div.island{
    padding: var(--medium-pad);
    background-color: var(--invSurvace);
    color: var(--onSurface);
    border-radius: 20px;
}

/**
===========================================
ROW
===========================================
*/
.row {
    /**flex box settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**
===========================================
TITLE
===========================================
*/
/**title cotntains the main info about the page*/
.title {
    padding: 20px 0;
    text-align: center;
}

.title h1{
    font-size: 70px;
}

.title h2{
    font-size: 40px;
    line-height: 30px;
    margin: var(--small-pad) 0;
}

.title h3{
    font-size: 25px;
    line-height: 30px;
}

.title p{
    margin: 10px;
    font-size: 25px;
}

/**
===========================================
BUTTONS
This section contains 3 main button types used on this website
===========================================
*/

/*common properties:*/
button, .filled-button, .outlined-button, .text-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.outlined-button, .filled-button{
    padding: var(--small-pad);
    /**border related properties*/
    border-radius: 30px;
    
}

/**
OUTLINED
* this is an outlined button class and its states
* best used for options that should not distract the user
*/
.outlined-button {
    /**font and background*/
    background-color: var(--onPrimary);
    color: var(--primary);
    border-width: 2px;
    border-color: var(--primary);
    border-style: solid;
}

.outlined-button:hover{
    /*change on hover*/
    border-color: var(--primaryContainer);
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    scale: 1.01;
}

.outlined-button:active{
    opacity: 0.7;
}

/**
FILLED
* this is a filled button class best used for important 
* and attention grabbing buttons
*/
.filled-button {
    /*background color*/
    background-color: var(--primary);
    color: var(--onPrimary);
    border-style: none;
}

.filled-button:hover{
    /*hover for filled button*/
    opacity: 0.7;
    scale: 1.01;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.filled-button:active{
    opacity: 0.5;
}

/**
TEXT
this is a text button like the ones in the navbar
*/
.text-button:hover{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.text-button:active{
    opacity: 0.5;
}

/*color pallete classes*/
.tertiary-container{
    color: var(--onTertiaryContainer);
    background-color: var(--te);
}

.tertiary{
    color: var(--onTertiary);
    background-color: var(--tertiary);
}

.secondary{
    color: var(--onSecondary);
    background-color: var(--secondary);
}

.primary{
    color: var(--onPrimary);
    background-color: var(--primary);
}

.primary-container{
    color: var(--onPrimaryContainer);
    background-color: var(--primaryContainer);
    border-color: var(--onPrimaryContainer);
}